
<style>
  h1{
  text-decoration:underline;
  }
</style>

<style>
  h3{
  font-style:italic;
  }
</style>

<style>
  h3{
  text-decoration:underline;
  }
</style>



<style>
  h3{
  font-weight:bold;
  }
</style>

<style>
  h3{
  font face:times new roman;
  }
</style>

<style>
  p{
  font face:arial;
  }
</style>

<h1>Mon parcours</h1> 
  
<header>  

<style>
  header{background-color:yellow;
  }  
</style>
  

<style>
  body{background-color:#D358F7;
  }
  
</style>
  
  <style>
  footer{background-color:yellow;
  }
</style>
  
<style> 
.div1
  {background-color:#58ACFA;
  width:500px;
  padding:20px;
  border:20px solid #FFFF00;
  margin:50px;
   
  }</style>
  
  <style>
  .div2
  {background-color:#FFFF00;
  width:800px;
  padding:20px;
  border:5px solid #58ACFA;
  margin:50px;
  
  }</style>
  
   <style>
  .div3
  {background-color:#2ECCFA;
  width:800px;
  padding:20px;
  border:5px solid #40FF00;
  margin:50px;
  }</style>

    
